@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 450px) {
  .search-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 75% !important;
    margin: auto;
  }
  .search-input {
    width: 100% !important;
    border-radius: 0 !important;
  }
}
